doctype html
html(lang="pl-PL")
  head
    title #{title}
    - const prefix = appPrefix ? `/${appPrefix}` : "";
    link(type='text/css', rel='stylesheet', href=prefix+'/css/styles.css')
    link(rel='icon' href=prefix+'/assets/favicon-32x32.png')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    meta(name="description" content="Formularz dodawania wpisów z donacjami krwi do wykopowej akcji Baryłka Krwi: https://wykop.pl/tag/wpisy/barylkakrwi")
    script(defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js")
  body
    main
      script(type='text/javascript').
        const startDate = !{JSON.stringify(configData.startDate)}
        const tags = !{JSON.stringify(configData.tags)};
        const configData = !{JSON.stringify(configData)};
        const urlPrefix = !{JSON.stringify(urlPrefix)};
      script
        include /js/form.js
      block header
        section.section.hero.is-danger.pt-3.pb-4
          div.hero-head
            nav.level.is-mobile
              div.container.level-item.is-flex.is-flex-direction-column
                div.title
                  h1.title #{title}
                div.is-flex
                  span.has-text-small Poziom krwi:
                    label#percentText
                div.is-flex
                  span#progressBarSpinner.icon
                    i.fas.fa-spinner.fa-pulse
                  //-progress.progress#progressBar
              //-block navi
              div.level-right
                div.level-item
                  div.tile.is-ancestor.is-vertical
                    p.tile
                      span #{user}
                    p.tile
                      a.button.is-danger.is-light.is-rounded(href=`${urlPrefix}/disconnect` title="rozłącz")
                        span.icon.is-small
                          i.fas.fa-sign-out-alt
      //-div(style="clear:both;")
      section.section.pt-2
        div.container.is-max-desktop.has-text-centered
          block content
