mixin donation(id, deletable)
  fieldset(id=`donation_${id}` donationId=id class="donation")
    legend
        //- FIXME auto-number on client side
        span Donacja #{id-(-1)}
    div.field.label-on-border.mt-2
      label.on-border.is-small(for=`date_${id}`) Data donacji
      div.control
        input.input(id=`date_${id}`,
              name=`date`,
              donationId=id,
              class="donationDate",
              type='date',
              required,
              min=configData.startDate)
    div.field.label-on-border.mt-4
      label.on-border.is-small(for=`kind_${id}`) Rodzaj donacji
      div.control.is-expanded
        div.select.is-fullwidth
          select(id=`kind_${id}`, name=`kind`,
                 onchange=`onDonationKindChange(${id});`)
            each kind in configData.kinds
              option(value=`${kind.id}`) #{kind.name}
    div.field.label-on-border.mt-4
      label.on-border.is-small(for=`volume_${id}`) Objętość
      div.field
        p.control.is-expanded.has-icons-right(title="Objętość oddanej krwi pełnej")
          input.input(id=`volume_${id}`,
                name=`volume`,
                class="volume",
                type='number',
                min=0,
                max=2000,
                value=450,
                required)
          span.icon.is-right.has-text-black ml
        p.control.is-hidden(title="Wyjaśnienie" onclick="popupDescription();")
          span.button.is-static
            span //- empty, used for plasma
            i.fas.fa-question-circle.ml-1
    fieldset
      legend.pb-2
        label.is-small Placówka
      div.field.is-grouped
        div.control.label-on-border.mt-2
          label.on-border.is-small(for=`site_${id}`) Rodzaj
          div.select
            select(id=`site_${id}` name=`site` onchange=`onSiteChange(${id})`)
              each site in configData.sites
                option(value=`${site.id}`) #{site.name}
        div.control.is-expanded.label-on-border.mt-2
          label.on-border.is-small(for=`city_${id}`) Miasto
          div.select.is-fullwidth
            select(id=`city_${id}` name=`city`)
              each city in configData.sites[0].cities
                option() #{city}
      div.field.is-grouped
        div.control.pb-3.pt-1
          label.checkbox(for=`busdonation_${id}` title="Krwiobus") Krwiobus:
            input.ml-1(id=`busdonation_${id}`
                  name=`busdonation`
                  type='checkbox'
                  onchange=`onBusDonationChange(${id})`)
        div.control.pb-3.pt-1
          label.checkbox(for=`abroad_${id}` title="Oddział terenowy") OT:
            input.ml-1(id=`abroad_${id}`
                 type='checkbox'
                 onchange=`onAbroadChange(${id});`)
        div.control.is-expanded.is-hidden
          input.input.is-small.is-fullwidth(id=`abroad_city_${id}`
                placeholder="Oddział terenowy"
                name=`abroad_city`)
    if deletable
      a.button.deleteButton.is-danger.is-small.mr-1.mb-1(
               onclick=`deleteDonation(${id});`
               title="usuń tę donację"
              ) usuń
        span.icon.ml-1
          i.fas.fa-minus
    a.button.createButton.is-link.is-small.mb-1(
             onclick=`createDonation();`
             title="dodaj kolejną donację"
            ) kolejna donacja
      span.icon.ml-1
        i.fas.fa-plus
