extends default
include ./donation.mixin.pug

//-block navi
//- a.navi(href="/stats", style='display:none;') Statystyki

block content
  div.container.mt-4
    div.columns
      div.column.is-half#formcolumn
        div.box
          form.has-text-left#inputform(onsubmit=`return submitForm(${JSON.stringify(params)});`)
            div.container
              +donation(0, false)
              div.field.mt-2
                div.control.file.has-name.is-expanded.is-fullwidth
                  label.file-label
                    input.file-input#photoSelector(
                      type='file',
                      accept="image/*"
                      required
                      onchange="updatePhotos()"
                      multiple
                    )
                    span.file-cta
                      span.file-icon
                        i.fas.fa-upload
                      span.file-label
                    span.file-name  Dodaj zdjęcie
                  label.is-small.file-option.va-top
                    p.checkbox.va-top
                      span.va-middle +18
                      input.ml-1.va-middle#adult(type='checkbox')
              div.container#selectorPreviewContainer
              fieldset
                legend
                  span Opcjonalne
                div.field.is-grouped.mb-1
                  div.control.label-on-border.mt-2
                    label.on-border.is-small(for='group') Grupa krwi
                    div.field
                      div.control.select
                        select(id='group', name='groups')
                          each group in configData.groups
                            option(value=`${group.id}`) #{group.name}
                  div.control.label-on-border.mt-2.is-expanded
                    label.on-border.is-small(for="privateCounter") Prywatny licznik
                    div.control.has-icons-right
                      input.input.is-fullwidth#privateCounter(name='privateCounter',
                                    type='number',
                                    min=0)
                      span.icon.is-right.has-text-black ml
                fieldset
                  legend.pb-2
                    label.is-small Odznaczenia
                  div#orders.field.is-grouped.is-grouped-multiline
                    each order in configData.orders
                      p.control
                        label.checkbox.is-small(title=`${order.title}`)
                          span.va-middle #{order.name}
                          input.ml-1.va-middle(id=`order_${order.id}` type='checkbox')
                div.field.label-on-border.mt-4.mb-1
                  label.on-border.is-small(for='message') Wiadomość
                  p.control
                    textarea#message.textarea(name='message' placeholder='Wiadomość')
                      |
                      |
                      |
                      | #{configData.tags.join(" ")}
              div.field.buttons.mt-2
                button.button.is-danger#submit(type='submit') Wyślij
                button.button.is-danger#previewButton(type='button'
                                                      name='previewButton',
                                                      onclick=`showPreview(${JSON.stringify(params)});`) Podgląd
  div.modal#preview
    div.modal-background(onclick="hidePreview();")
    div.modal-content.has-text-left.w-auto
      p.mb-2.ml-2.mr-2.mt-2#previewOutput
      div.mb-2.ml-2.mr-2.mt-2#previewImages
    button.modal-close.is-large(onclick="hidePreview();")
  div.modal#error
    div.modal-background(onclick="dismissError();")
    div.modal-content#errorModalContent
      div.message.is-danger
        div.message-header
          p Wystąpił błąd
          button.delete.is-large(onclick="dismissError();")
        div.message-body
          p.mb-2#errorOutput
          button.button.is-danger(onclick="dismissError();") Zamknij
  div.modal#description
    div.modal-background(onclick="hideDescription();")
    div.modal-content#descriptionModalContent
      div.message.is-info
        div.message-header
          div Kalkulator donacji
          button.delete.is-large(onclick="hideDescription();")
        div.message-body
          div#descriptionOutput Składniki krwi przeliczane są na ekwiwalent krwi pełnej zgodnie z 
            a(href="https://krwiodawcy.org/kalkulator-donacji",
              rel="noopener noreferrer",
              target="_blank"
              tabindex=-1
              title="Przejdź do kalkulatora donacji")
              span kalkulatorem
              span.icon
                i.fas.fa-calculator
            | .
          div.mb-2 Dodatkowo osocze zaokrąglamy w dół do najbliższych 10 ml.
  script
    include /js/lazy.js
